In [11]:
from sqlalchemy import create_engine
import psycopg2 as pc2
import pandas as pd
import pandas.io.sql as psql

In [12]:
username="-******"
hoststr= "localhost"
poststr= "5432"
database= "postgres"
password="***********"

Creates and connects to sparkifydb database. Returns cursor and connection to DB

In [13]:
def create_database():
    # connect to default database
    conn = pc2.connect(dbname = database, host = hoststr, port = poststr, user = username, password = password)
    conn.set_session(autocommit=True)
    cur=conn.cursor()
    
    # create sparkify database with UTF8 encoding
    cur.execute('DROP DATABASE IF EXISTS sparkifydb')
    cur.execute("CREATE DATABASE sparkifydb WITH ENCODING 'utf8' TEMPLATE template0")
    conn.close()
    
    # connect to sparkify database
    conn = pc2.connect(dbname="sparkifydb", host=hoststr, port = poststr, user =username, password = password)
    cur=conn.cursor()
    
    return cur, conn

In [14]:
def drop_tables(cur, conn):
    '''Drops all tables created on the database'''
    for query in drop_table_queries:
        cur.execute(query)
        conn.commit()

In [15]:
def create_tables(cur, conn):
    '''Created tables defined on the sql_queries script: [songplays, users, songs, artists, time]'''
    for query in create_table_queries:
        cur.execute(query)
        conn.commit()

In [16]:
def main():
    """ Function to drop and re create sparkifydb database and all related tables.
    """
    cur, conn = create_database()
    drop_tables(cur, conn)
    create_tables(cur, conn)
    conn.close()

In [ ]:
if __name__ == "__main__":
    main()