In [10]:
# # from selenium import webdriver
# from time import sleep
# # import csv
# # import pandas as pd
# # # specifies the path to the chromedriver.exe
# # driver = webdriver.Chrome('C:\\Users\\DILIP\\Downloads\\crome\\chromedriver.exe')
# from selenium import webdriver
# from selenium.webdriver.common.keys import Keys
# import csv
# import pandas as pd
# from selenium.common.exceptions import NoSuchElementException, WebDriverException


# chromedriver = '/usr/bin/chromedriver'
# driver = webdriver.Chrome(chromedriver)

# driver.get("https://www.linkedin.com/directory/companies")
# sign_in = driver.find_element_by_link_text("Sign in")
# sign_in.click()
# user_name = driver.find_element_by_class_name("login-email")
# user_name.send_keys("a@gmail.com")

# password =driver.find_element_by_class_name("login-password")
# password.send_keys("")
                  
# sleep(2) 
# sign_in_button = driver.find_element_by_xpath('//*[@type="submit"]')                
# sign_in_button.click() 

# find_company = driver.find_elements_by_class_name('content')

# company_name=[]
# url =[]
# employees = []
# j=list(range(0,5))
# for i in j:
#     c_name =find_company[i].text
#     company_name.append(c_name)
    
# def callfunction(company_name):
#     for i in range(0,5):
#         link = driver.find_elements_by_xpath('//li[@class = "content"]/a')
#         link[i].text
#         print()
#         link_ = link[i].get_attribute("href")
#         print(link_)
# from selenium import webdriver
# from time import sleep
# import csv
# import pandas as pd
# # specifies the path to the chromedriver.exe
# chromedriver = '/usr/bin/chromedriver'
# driver = webdriver.Chrome(chromedriver)

# driver.get("https://www.linkedin.com/")
# sign_in = driver.find_element_by_link_text("Sign in")
# sign_in.click()
# user_name = driver.find_element_by_class_name("login-email")
# user_name.send_keys("akankshakaple@gmail.com")

# password =driver.find_element_by_class_name("login-password")
# password.send_keys("")
                  
# sleep(2) 
# sign_in_button = driver.find_element_by_xpath('//*[@type="submit"]')                
# sign_in_button.click() 

# find_company = driver.find_elements_by_class_name('content')

# company_name=[]
# url =[]
# employees = []
# j=list(range(0,5))
# for i in j:
#     c_name =find_company[i].text
#     company_name.append(c_name)
    
# def callfunction(company_name):
#     for i in range(0,5):
#         link = driver.find_elements_by_xpath('//li[@class = "content"]/a')
#         link[i].text
#         print()
#         link_ = link[i].get_attribute("href")
#         print(link_)
#         url.append(link_)
#         driver.get(link_)
#         sleep(2)
#         driver.find_element_by_link_text('About').click()
#         sleep(8)
#         em=driver.find_element_by_class_name('overflow-hidden')
#         employ = em.text  
#         em_no = employ.split("\n")

#         for i in em_no:
#             if(i == "Company size"):
#                 print(em_no[em_no.index(i)+1])
#                 employees.append(em_no[em_no.index(i)+1])
#             break


#         driver.execute_script("window.history.go(-2)")
#         sleep(8)


#     callfunction(company_name)
#     # =============================================================================
#     # print(url)
#     # print(employees)
#     # =============================================================================
#     data = [company_name,url,employees]
#     df = pd.DataFrame(data,index = ["COmpany_NAME","Url","Employees"])
#     url.append(link_)
#     driver.get(link_)
#     sleep(2)
#     driver.find_element_by_link_text('About').click()
#     sleep(8)
#     em=driver.find_element_by_class_name('overflow-hidden')
#     employ = em.text  
#     em_no = employ.split("\n")

#     for i in em_no:
#         if(i == "Company size"):
#             print(em_no[em_no.index(i)+1])
#             employees.append(em_no[em_no.index(i)+1])
#             break


#     driver.execute_script("window.history.go(-2)")
#     sleep(8)


# callfunction(company_name)
# # =============================================================================
# # print(url)
# # print(employees)
# # =============================================================================
# data = [company_name,url,employees]
# df = pd.DataFrame(data,index = ["COmpany_NAME","Url","Employees"])
# df

In [12]:
from time import sleep
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import csv
import pandas as pd
from selenium.common.exceptions import NoSuchElementException, WebDriverException


chromedriver = '/usr/bin/chromedriver'
driver = webdriver.Chrome(chromedriver)

driver.get("https://www.linkedin.com/directory/companies")
sign_in = driver.find_element_by_link_text("Sign in")
sign_in.click()
user_name = driver.find_element_by_class_name("login-email")
user_name.send_keys("akankshakaple@gmail.com")

password =driver.find_element_by_class_name("login-password")
password.send_keys("")

In [18]:
from selenium import webdriver
from time import sleep
import csv
import pandas as pd
# specifies the path to the chromedriver.exe
chromedriver = '/usr/bin/chromedriver'
driver = webdriver.Chrome(chromedriver)

driver.get("https://www.linkedin.com/directory/companies")
sign_in = driver.find_element_by_link_text("Sign in")
sign_in.click()
user_name = driver.find_element_by_class_name("login-email")
user_name.send_keys("*****@gmail.com")

password =driver.find_element_by_class_name("login-password")
password.send_keys("*********")
                  
sleep(2) 
sign_in_button = driver.find_element_by_xpath('//*[@type="submit"]')                
sign_in_button.click() 

find_company = driver.find_elements_by_class_name('content')

In [47]:
data = pd.read_excel('All In One.xlsx')
data.drop_duplicates(inplace=True)
data.fillna("Missing", inplace=True)

In [48]:
print(data.shape)
index = []
for i in range(len(data)):
    if data.iloc[i]['Company Name'] == 'Missing' and data.iloc[i]['Website'] == 'Missing':
        index.append(i)
data.drop(index, inplace=True)
data.shape

(15312, 53)

(15271, 53)

In [55]:
company_name = []
for i in range(len(data)):
    c_name = data['Company Name'].iloc[i]
    website = data['Website'].iloc[i]
    if name == 'Missing':
        company_name.append(website)
    else:
        company_name.append(c_name)

In [56]:
len(company_name)

15271

In [54]:
company_name=[]
url =[]
employees = []
j=list(range(0,5))
for i in j:
    c_name =find_company[i].text
    company_name.append(c_name)

company_name

['Amazon',
 'Jobs Interviewing Now from MJH',
 'LinkedIn',
 'HR Multinational Corp',
 'The Gypsy Nurse']

In [75]:
!pip3 install google

Collecting google
  Cache entry deserialization failed, entry ignored
Collecting beautifulsoup4 (from google)
  Cache entry deserialization failed, entry ignored
  Using cached https://files.pythonhosted.org/packages/1a/b7/34eec2fe5a49718944e215fde81288eec1fa04638aa3fb57c1c6cd0f98c3/beautifulsoup4-4.8.0-py3-none-any.whl
Collecting soupsieve>=1.2 (from beautifulsoup4->google)
  Cache entry deserialization failed, entry ignored
  Using cached https://files.pythonhosted.org/packages/0b/44/0474f2207fdd601bb25787671c81076333d2c80e6f97e92790f8887cf682/soupsieve-1.9.3-py2.py3-none-any.whl
Installing collected packages: soupsieve, beautifulsoup4, google
Successfully installed beautifulsoup4-4.8.0 google-2.0.2 soupsieve-1.9.3

In [5]:
from googlesearch import search

ImportError: cannot import name 'search' from 'googlesearch' (/home/akanksha/anaconda3/lib/python3.7/site-packages/googlesearch/__init__.py)

In [69]:
from googlesearch import search
def get_urls(company_name):
    print('get_urls')
    """
    :param company_name: Name of the company
    :return: URLs of LinkedIn, Angel.co, crunch_base and the company mentioned.
    """
    sites = ['linked_in']
    urls = {}
    for site in sites:
        query = company_name + site
        # url_generator = GoogleSearch().search(query, tld="com", num=1, stop=1, pause=2)
        url_generator = search(query, tld="com", num=1, stop=1, pause=2)
    return urls

ImportError: cannot import name 'search' from 'googlesearch' (/home/akanksha/anaconda3/lib/python3.7/site-packages/googlesearch/__init__.py)

In [66]:
linkedin_url = []
for i in company_name[:3]:
    linkedin_url.append(get_urls(i))
    
linkedin_url

get_urls

NameError: name 'search' is not defined

In [ ]:
def callfunction(company_name):
    for i in range(0,5):
        link = driver.find_elements_by_xpath('//li[@class = "content"]/a')
        link[i].text
        print()
        link_ = link[i].get_attribute("href")
        print(link_)
        url.append(link_)
        driver.get(link_)
        sleep(2)
        driver.find_element_by_link_text('About').click()
        sleep(8)
        em=driver.find_element_by_class_name('overflow-hidden')
        employ = em.text  
        em_no = employ.split("\n")

        for i in em_no:
            if(i == "Company size"):
                print(em_no[em_no.index(i)+1])
                employees.append(em_no[em_no.index(i)+1])
            break


        driver.execute_script("window.history.go(-2)")
        sleep(8)


    callfunction(company_name)
    # =============================================================================
    # print(url)
    # print(employees)
    # =============================================================================
    data = [company_name,url,employees]
    df = pd.DataFrame(data,index = ["COmpany_NAME","Url","Employees"])
    url.append(link_)
    driver.get(link_)
    sleep(2)
    driver.find_element_by_link_text('About').click()
    sleep(8)
    em=driver.find_element_by_class_name('overflow-hidden')
    employ = em.text  
    em_no = employ.split("\n")

    for i in em_no:
        if(i == "Company size"):
            print(em_no[em_no.index(i)+1])
            employees.append(em_no[em_no.index(i)+1])
            break


    driver.execute_script("window.history.go(-2)")
    sleep(8)


callfunction(company_name)
# =============================================================================
# print(url)
# print(employees)
# =============================================================================
data = [company_name,url,employees]
df = pd.DataFrame(data,index = ["COmpany_NAME","Url","Employees"])
df

In [1]:
import pandas as pd

In [16]:
data = {'a': ['1','2','3','4'], 
        'b' : ['a','b','a','c'], 
        'c' : ['qqq', 'wwww', 'qqq', 'xx'],
       'd': ['niyo', 'hash', 'niyo', 'hash']}
df = pd.DataFrame(data)
df.head()

   a  b     c     d
0  1  a   qqq  niyo
1  2  b  wwww  hash
2  3  a   qqq  niyo
3  4  c    xx  hash

In [4]:
df.groupby(['b', 'c'])['a'].apply(', '.join).reset_index().head()

   b     c     a
0  a   qqq  1, 3
1  b  wwww     2
2  c    xx     4

In [5]:
df.groupby(['c', 'a'])['b'].apply(', '.join).reset_index().head()

      c  a  b
0   qqq  1  a
1   qqq  3  a
2  wwww  2  b
3    xx  4  c

In [6]:
# df.groupby(by='b').agg({'a': 'sum',
#                               'c': 'sum',
#                              }).reset_index()
# import numpy
# df.groupby(df.columns, axis=1).agg('sum')
aggregation_functions = {'a': 'sum', 'b': 'sum', 'c': 'first'}
df_new = df.groupby('b').aggregate(aggregation_functions)
df_new.head()

    a   b     c
b
a  13  aa   qqq
b   2   b  wwww
c   4   c    xx

In [15]:
def mer(b):
    for i in b:
        if 
    return '1'
df.groupby(['c', 'a'])[mer(b)].apply(', '.join).reset_index().head()

SyntaxError: invalid syntax (<ipython-input-15-d289589fea2f>, line 3)

In [10]:
df

   a  b     c     d
0  1  a   qqq  niyo
1  2  b  wwww  hash
2  3  a   qqq  niyo
3  4  c    xx  hash

In [13]:
common = df.d.duplicated().values
common

array([False, False,  True,  True])

In [23]:
x = df.groupby(['d'])['a'].apply(', '.join).reset_index()
x

      d     a
0  hash  2, 4
1  niyo  1, 3

In [24]:
y = df.groupby(['d'])['c'].apply(', '.join).reset_index()
y

      d         c
0  hash  wwww, xx
1  niyo  qqq, qqq

In [11]:
pd.merge(x,y,on='d')
d1= df.drop(columns='d')
d1.shape[1]
d1.columns

Index(['a', 'b', 'c'], dtype='object')

In [7]:
import pandas as pd
data = {'a': ['1','2','3','4'], 
        'b' : ['a','b','a','c'], 
        'c' : ['qqq', 'wwww', 'qqq', 'xx'],
       'd': ['niyo', 'hash', 'niyo', 'hash']}
df = pd.DataFrame(data)
df.head()
# col = df.columns

# d1= df.drop(columns='d')
# d1.shape[1]

# i = 0
# d = pd.DataFrame(columns=df.columns)
# while i <= d1.shape[1]:
#     c1 = col[i-1]
#     c2 = col[i]
#     if col[i] == 'd':
#         pass
#     else:
#         print(i)
#         print(col[i])
#         x = df.groupby(['d'])[col[i]].apply(', '.join).reset_index()
#         x.columns[-1]
# #         y = df.groupby(['d'])[col[i]].apply(', '.join).reset_index()
# #         d = pd.merge(x,y, on='d')
#         print(d)
#     i+=1
        
        
# d

   a  b     c     d
0  1  a   qqq  niyo
1  2  b  wwww  hash
2  3  a   qqq  niyo
3  4  c    xx  hash

In [58]:
x = df.groupby(['d'])['c'].apply(', '.join).reset_index()
curr_col = x.columns[-1]
col_data = []
col_data.append(x[curr_col].values)
print(col_data[0])
# col_data[0][1].split(',')

['wwww, xx' 'qqq, qqq']

In [79]:
def my_function(x):
    return list(dict.fromkeys(x))

l = col_data[0][1].split(',').strip()
print(l)

mylist = my_function(l)

print(mylist)

['wwww, xx' 'qqq, qqq']
[['wwww', 'xx'], ['qqq']]

In [132]:
import pandas as pd
data = {'a': ['1','2','3','4'], 
        'b' : ['a','b','a','c'], 
        'c' : ['qqq', 'wwww', 'qqq', 'xx'],
       'd': ['niyo', 'hash', 'niyo', 'hash']}
df = pd.DataFrame(data)
df.head()

   a  b     c     d
0  1  a   qqq  niyo
1  2  b  wwww  hash
2  3  a   qqq  niyo
3  4  c    xx  hash

In [133]:
def merge(df):
    col_data = []

    for col in df.columns:
        if col == 'd':
            pass
        else:
            x = df.groupby(['d'])[col].apply(', '.join).reset_index()
            curr_col = x.columns[-1]
            col_data.append([i.split(', ') for i in x[curr_col].values])

    return col_data

d = merge(df)

In [134]:
data = pd.DataFrame(d).T

In [135]:
data.columns = ['a', 'b', 'c']
data

        a       b           c
0  [2, 4]  [b, c]  [wwww, xx]
1  [1, 3]  [a, a]  [qqq, qqq]