In [805]:
import pandas as pd
filename = 'C:\\Users\\Admin\\Documents\\Company.xlsx'
df1=pd.read_excel(filename)

In [806]:
df2 = pd.DataFrame(df1)
df2.columns

Index(['Domain', 'Company', 'Segment', 'Week', 'VC', 'Lead Owner', 'Location',
       'Region'],
      dtype='object')

In [807]:
df2 = df2.drop_duplicates(subset='Domain', keep='first')
df2.shape

(12948, 8)

In [808]:
df = df.to_excel(filename)

In [809]:
df = pd.read_excel(filename)

In [810]:
df=pd.DataFrame(df)

In [811]:
df["Location"].fillna("X", inplace = True) 
df["Segment"].fillna("X", inplace = True) 
df["Region"].fillna("X", inplace = True)
df["Week"].fillna("X", inplace = True)
df["Lead Owner"].fillna("X", inplace = True)
df["VC"].fillna("X", inplace = True)
#df["Size"].fillna("X", inplace = True)

In [812]:
df.shape

(12948, 12)

In [813]:
#df = df.set_index(["Domain", "Company", "Location", "Region", "Segment", "VC", "Week", "Lead Owner", "Size"], inplace = True)

In [814]:
#df=pd.DataFrame(df)
#print(df.set_index(["Domain", "Company", "Location", "Region", "Segment", "VC", "Week", "Lead Owner", "Size"], append = True))

In [815]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Domain,Company,Segment,Week,VC,Lead Owner,Location,Region,id_co
0,0,0,0,shuttl.com,Shuttl,X,w38,X,Shubham,NCR,North,SNX0
1,1,1,1,godigit.com,Digit Insurance,X,w38,X,Rozer,Bengaluru,South,DBX1
2,2,2,2,swiggy.in,Swiggy,X,w38,X,Shubham,Bengaluru,South,SBX2
3,3,3,3,cleardekho.com,Cleardekho,X,w38,X,Shubham,NCR,North,CNX3
4,4,4,5,zomato.com,Zomato,X,w38,X,Shubham,NCR,North,ZNX4

In [816]:
#df = df.dropna()
#df = df.drop_duplicates(subset='Domain', keep='first')

In [817]:
#df= df.sort_values(by = ['Domain'], inplace = True)
df.dtypes

Unnamed: 0         int64
Unnamed: 0.1       int64
Unnamed: 0.1.1     int64
Domain            object
Company           object
Segment           object
Week              object
VC                object
Lead Owner        object
Location          object
Region            object
id_co             object
dtype: object

In [818]:
df.isnull().sum()

Unnamed: 0        0
Unnamed: 0.1      0
Unnamed: 0.1.1    0
Domain            0
Company           0
Segment           0
Week              0
VC                0
Lead Owner        0
Location          0
Region            0
id_co             0
dtype: int64

In [820]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Domain,Company,Segment,Week,VC,Lead Owner,Location,Region,id_co
0,0,0,0,shuttl.com,Shuttl,X,w38,X,Shubham,NCR,North,SNX0
1,1,1,1,godigit.com,Digit Insurance,X,w38,X,Rozer,Bengaluru,South,DBX1
2,2,2,2,swiggy.in,Swiggy,X,w38,X,Shubham,Bengaluru,South,SBX2
3,3,3,3,cleardekho.com,Cleardekho,X,w38,X,Shubham,NCR,North,CNX3
4,4,4,5,zomato.com,Zomato,X,w38,X,Shubham,NCR,North,ZNX4

In [821]:
df.fillna('X', inplace = True)

In [822]:
df['id_co']=""

In [823]:
df['Company'][4][0] + df['Location'][4][0] + df['Segment'][5][0] + str(0)

'ZNX0'

In [824]:
for value in range(0, len(df['Domain'])):
    df['id_co'][value] = str(df['Company'][value])[0] + str(df['Location'][value])[0] + str(df['Segment'][value])[0] + str(value)

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [827]:
#for i in range(1, len(df_1)):
        #df['id_co'][i] = df['Company'][i][0] + df['Location'][i][0] +str(count)
df.head(10)

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Domain,Company,Segment,Week,VC,Lead Owner,Location,Region,id_co
0,0,0,0,shuttl.com,Shuttl,X,w38,X,Shubham,NCR,North,SNX0
1,1,1,1,godigit.com,Digit Insurance,X,w38,X,Rozer,Bengaluru,South,DBX1
2,2,2,2,swiggy.in,Swiggy,X,w38,X,Shubham,Bengaluru,South,SBX2
3,3,3,3,cleardekho.com,Cleardekho,X,w38,X,Shubham,NCR,North,CNX3
4,4,4,5,zomato.com,Zomato,X,w38,X,Shubham,NCR,North,ZNX4
5,5,5,6,pharmeasy.in,PharmEasy,X,w38,X,Rozer,Mumbai,West,PMX5
6,6,6,7,thoughtworks.com,ThoughtWorks,X,w38,X,Deepu,Bengaluru,South,TBX6
7,7,7,8,paypal.com,Paypal,X,w38,X,Shubham,Bengaluru,South,PBX7
8,8,8,13,zerodha.com,Zerodha,X,w38,X,Shubham,Bengaluru,South,ZBX8
9,9,9,16,quikr.com,Quikr,X,w38,X,Shubham,Bangalore,South,QBX9

In [828]:
#df['id_co']

In [829]:
#area_dict = df[['Domain', 'id_co']].to_dict
#area_dict

In [830]:
df['id_co']

0            SNX0
1            DBX1
2            SBX2
3            CNX3
4            ZNX4
           ...
12943    WEE12943
12944    XII12944
12945    ZII12945
12946    ZII12946
12947    MEE12947
Name: id_co, Length: 12948, dtype: object

In [831]:
area_dict = pd.Series(df.id_co.values, index=df.Domain).to_dict()

In [832]:
area_dict
n=len(area_dict)

In [833]:
#for value in area_dict:
 #   df[df['Domain']
  #  df['id_co'] = df['id_co'][value]

In [834]:
for i in range(n, 0):
    if df['Domain'][n] == area_dict['Domain'][i]:
        df['id_co'][n] = area_dict['id_co'][i]

In [835]:
Filename1='C:\\Users\\Admin\\Company.csv'

In [836]:
df = df.drop(['Unnamed: 0', "Unnamed: 0.1", 'Unnamed: 0.1.1'], axis=1)

In [837]:
""""x = "ABCD"
y = "hdgfh"
count = 0
count +=1
x[0] + y[3] + str(count)"""

'"x = "ABCD"\ny = "hdgfh"\ncount = 0\ncount +=1\nx[0] + y[3] + str(count)'

In [838]:
#df = df.set_index(["id_co", "Domain", "Company", "Location", "Region", "Segment", "VC", "Week", "Lead Owner", "Size"], inplace = True)

In [839]:
df.head()

,Domain,Company,Segment,Week,VC,Lead Owner,Location,Region,id_co
0,shuttl.com,Shuttl,X,w38,X,Shubham,NCR,North,SNX0
1,godigit.com,Digit Insurance,X,w38,X,Rozer,Bengaluru,South,DBX1
2,swiggy.in,Swiggy,X,w38,X,Shubham,Bengaluru,South,SBX2
3,cleardekho.com,Cleardekho,X,w38,X,Shubham,NCR,North,CNX3
4,zomato.com,Zomato,X,w38,X,Shubham,NCR,North,ZNX4

In [840]:
Company = df.to_csv(Filename1)