In [1]:
import pandas as pd

In [2]:
filepath= "C:\\Users\\Admin\\Downloads\\Marketing_data.xlsx"

In [3]:
df = pd.read_excel(filepath, sheet_name='Original')
df

,Domain,Company,Location,Region,Week,Lead Owner,VC,Segment,Unnamed: 8
0,shuttl.com,Shuttl,NCR,North,w38,Shubham,NaN,NaN,NaN
1,godigit.com,Digit Insurance,Bengaluru,South,w38,Rozer,NaN,NaN,NaN
2,swiggy.in,Swiggy,Bengaluru,South,w38,Shubham,NaN,NaN,NaN
3,cleardekho.com,Cleardekho,NCR,North,w38,Shubham,NaN,NaN,NaN
4,acko.com,Acko General Insurance,Mumbai,West,w38,Rozer,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
48614,http://androcid.co,Androcid,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48615,http://www.kansoftware.com,Kansoftware,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48616,http://www.kansoftware.com,Kansoftware,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48617,http://www.neukelp.com/,Neukelp Innovation Technology,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48618,http://www.neukelp.com/,Neukelp Innovation Technology,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.drop_duplicates(subset='Domain', keep='first', inplace=True)
df.shape

(11610, 9)

In [ ]:
df.to_csv("Filtered_data.csv")