In [ ]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import os
import psycopg2 as pc2
import pandas.io.sql as psql

In [ ]:
username = 'username'
hoststr = 'localhost'
portstr = '5432'
database = 'postgres'
password = 'password'

In [ ]:
os.chdir('C:\\Users\\Admin')

In [ ]:
IS_Funnel = pd.read_csv('IS_Funnel.csv')

In [ ]:
IS_Funnel.head()

In [ ]:
IS_Funnel = IS_Funnel.drop(['Unnamed: 0'], axis = 1)

In [ ]:
engine = create_engine('postgresql://username:password@localhost:5432/postgres')

In [ ]:
engine.execute('DROP TABLE IF EXISTS public.IS_Funnel ;')

In [ ]:
IS_Funnel.to_sql('IS_Funnel', engine)

In [ ]:
sql1 = 'select * from "IS_Funnel"'

In [ ]:
df = pd.read_sql_query((sql1), engine)

In [ ]:
print(df)