In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import os
import psycopg2 as pc2
import pandas.io.sql as psql

In [2]:
engine = create_engine('postgresql://username:password@localhost:5432/postgres')

In [3]:
username = 'username'
hoststr = 'localhost'
portstr = '5432'
database = 'postgres'
password = 'password'

In [16]:
os.chdir('C:\\Users\\Admin')

In [17]:
Contact_Status = pd.read_csv('Contact_Status.csv')

C:\Users\Admin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (25,26,27,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [22]:
Contact_Status.head()

,Email,Person Status,Viewed Pointdrive,Email_Status1,Email_Status2,Email_Status3,Email_Status4,Email_Status5,Email_Status6,Email_Status7,...,Email_Status39,Email_Status40,Email_Status41,Email_Status42,Email_Status43,Email_Status44,Email_Status45,Email_Status46,id_co,id_con
0,*kroskam@ksmmedia.com,TBD,0,BOUNCED,EMAIL_SENT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KOM135,KKOM135[649]
1,193@altbalaji.com,X,X,BOUNCED,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AXX8204,SAXX8204[18811]
2,22@trackehs.com,X,X,BOUNCED,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TCX6389,RTCX6389[15987]
3,a.achlerkar@splendornet.com,X,X,EMAIL_SENT,EMAIL_SENT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SPX9164,ASPX9164[20288]
4,a.aeinz@alientt.com,X,X,EMAIL_SENT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AHX193,AAHX193[856]

In [21]:
Contact_Status = Contact_Status.drop(['Unnamed: 0'], axis = 1)

In [23]:
engine = create_engine('postgresql://username:password@localhost:5432/postgres')

In [25]:
engine.execute('DROP TABLE IF EXISTS public.Contact_Status;')

In [26]:
Contact_Status.to_sql('Contact_Status', engine)

In [29]:
sql1 = 'select * from "Contact_Status"'

In [30]:
df = pd.read_sql_query((sql1), engine)

In [31]:
print(df)

       index                                   Email Person Status  \
0          0                   *kroskam@ksmmedia.com           TBD
1          1                       193@altbalaji.com             X
2          2                         22@trackehs.com             X
3          3             a.achlerkar@splendornet.com             X
4          4                     a.aeinz@alientt.com             X
...      ...                                     ...           ...
17740  17740  zubin.priyansh@blackcoffeerobotics.com             X
17741  17741                 zuhaib@shopatplaces.com             X
17742  17742              zuhaib@techheadsoftware.in             X
17743  17743                        zulfiqar@hooq.tv             X
17744  17744                        Zunaid@knudge.me             X

      Viewed Pointdrive Email_Status1 Email_Status2 Email_Status3  \
0                     0       BOUNCED    EMAIL_SENT          None
1                     X       BOUNCED          None          None
2                     X       BOUNCED          None          None
3                     X    EMAIL_SENT    EMAIL_SENT          None
4                     X    EMAIL_SENT          None          None
...                 ...           ...           ...           ...
17740                 X    EMAIL_SENT    EMAIL_SENT    EMAIL_SENT
17741                 X       BOUNCED       BOUNCED          None
17742                 X    EMAIL_SENT          None          None
17743                 X  EMAIL_OPENED    EMAIL_SENT          None
17744                 X  EMAIL_OPENED    EMAIL_SENT    EMAIL_SENT

      Email_Status4 Email_Status5 Email_Status6  ... Email_Status39  \
0              None          None          None  ...           None
1              None          None          None  ...           None
2              None          None          None  ...           None
3              None          None          None  ...           None
4              None          None          None  ...           None
...             ...           ...           ...  ...            ...
17740          None          None          None  ...           None
17741          None          None          None  ...           None
17742          None          None          None  ...           None
17743          None          None          None  ...           None
17744  EMAIL_OPENED          None          None  ...           None

      Email_Status40 Email_Status41 Email_Status42 Email_Status43  \
0               None           None           None           None
1               None           None           None           None
2               None           None           None           None
3               None           None           None           None
4               None           None           None           None
...              ...            ...            ...            ...
17740           None           None           None           None
17741           None           None           None           None
17742           None           None           None           None
17743           None           None           None           None
17744           None           None           None           None

      Email_Status44 Email_Status45 Email_Status46     id_co            id_con
0               None           None           None    KOM135      KKOM135[649]
1               None           None           None   AXX8204   SAXX8204[18811]
2               None           None           None   TCX6389   RTCX6389[15987]
3               None           None           None   SPX9164   ASPX9164[20288]
4               None           None           None    AHX193      AAHX193[856]
...              ...            ...            ...       ...               ...
17740           None           None           None  BHX10390  ZBHX10390[22140]
17741           None           None           None   SXX7955   ZSXX7955[18504]
17742           None           None           None   TXX4260   DTXX4260[12614]
17743           None           None           None   HMX8916   ZHMX8916[19923]
17744           None           None           None  KBX10265  ZKBX10265[21931]

[17745 rows x 52 columns]